body {
	background: #333333;
    color: #f7f7f7;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
 	overflow-y: hidden;
}
header {
	width: 100%;
	position: absolute;
	border: 1px solid white;
	height:0;
}
.container {
	width: 100%;
	position: absolute;
	border: 1px solid white;
	height:0;
}
footer {
	width: 100%;
	position: absolute;
	border: 1px solid white;
	height:0;
	z-index: 100;
	background: #333333;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}
.notice-wrapper {
	margin-left: 10%;
	width: 60%;
}
.notice {
	height: 100％;
	font-size: 45px;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 3%;
	margin-bottom: 3%;
}
.notice p {
	position: absolute;
}
.message {
	border: 1px solid white;
	margin-top: 1%;
	margin-bottom: 1%;
}
.avatar {
	height: 90%;
	width: 30%;
	float: left;
	text-align: center;
	padding-top: 15px;
	margin:auto;
}
.nickname {
	margin-top: 1px;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	margin: auto;
}

.content {
	margin-right: 50px;
	overflow: hidden;
	white-space: nowrap;
	width: 500px;
}
.content p {
	height: 100px;
	line-height: 60px;
	font-size: 50px;
}
.remove {
	animation: 0.25s moves linear forwards;
}

.up {
	animation: 0.25s goUp linear forwards;
}
.admin {
	display: none;
	background: #555555;
}
img {
	width: 90px;
	height: 90px;
	background: url('avatar.gif');
	background-size:90px 90px;
}


@keyframes moves {
	to {
		margin-left: 1200px;
	}
}
@keyframes goUp {
	to {
		margin-top: 0px;
	}
}


@media (min-width: 1000px) {
	.content {
		width: 700px;
	}
}

@media (max-width: 700px){
	.content {
		margin-right: 20px;
		overflow: hidden;
		white-space: nowrap;
		width: 300px;
	}
}

@media (max-height: 600px) {
	.notice-wrapper {
		margin-left: 10%;
		width: 60%;
	}
	.content p {
		height: 90px;
		line-height: 40px;
		font-size: 30px;
	}
	.notice {
		height: 100％;
		font-size: 15px;
		overflow: hidden;
		white-space: nowrap;
		margin-top: 1%;
		margin-bottom: 1%;
	}
}